In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
b=pd.read_csv('bangalore_house_prices.csv')

In [3]:
b

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
b=b.drop(['area_type','availability','society','balcony'],axis=1)

In [5]:
b

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]

In [6]:
b_filtered = b[(b['location'].isin(['Jayanagar','Koramangala','Electronic City'])) & (b['size'].isin(['3 BHK', '4 BHK']))]

In [7]:
b_filtered

              location   size total_sqft  bath   price
29     Electronic City  3 BHK       1025   2.0   47.00
113    Electronic City  3 BHK       1530   2.0   45.90
167    Electronic City  3 BHK       1500   2.0   64.50
173    Electronic City  3 BHK       1350   2.0   56.00
221        Koramangala  3 BHK       1475   2.0   90.00
...                ...    ...        ...   ...     ...
13009  Electronic City  3 BHK       1500   2.0   64.50
13040      Koramangala  3 BHK       1605   3.0  260.00
13043      Koramangala  3 BHK       1600   2.0  140.00
13129  Electronic City  4 BHK       2093   4.0  134.00
13222  Electronic City  3 BHK       1360   2.0   64.99

[121 rows x 5 columns]

In [8]:
y=b_filtered.iloc[:,-1]

In [9]:
y

29        47.00
113       45.90
167       64.50
173       56.00
221       90.00
          ...
13009     64.50
13040    260.00
13043    140.00
13129    134.00
13222     64.99
Name: price, Length: 121, dtype: float64

In [10]:
b_filtered['size'] = b_filtered['size'].str[0]

C:\Users\arjun\AppData\Local\Temp\ipykernel_16564\3212605714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_filtered['size'] = b_filtered['size'].str[0]

In [11]:
X=b_filtered.iloc[:,:-1]
X

              location size total_sqft  bath
29     Electronic City    3       1025   2.0
113    Electronic City    3       1530   2.0
167    Electronic City    3       1500   2.0
173    Electronic City    3       1350   2.0
221        Koramangala    3       1475   2.0
...                ...  ...        ...   ...
13009  Electronic City    3       1500   2.0
13040      Koramangala    3       1605   3.0
13043      Koramangala    3       1600   2.0
13129  Electronic City    4       2093   4.0
13222  Electronic City    3       1360   2.0

[121 rows x 4 columns]

In [12]:
print(y)

29        47.00
113       45.90
167       64.50
173       56.00
221       90.00
          ...
13009     64.50
13040    260.00
13043    140.00
13129    134.00
13222     64.99
Name: price, Length: 121, dtype: float64

In [13]:
b_filtered['size']=b_filtered['size'].astype(int)
b_filtered['total_sqft']=b_filtered['total_sqft'].astype(int)
b_filtered['bath']=b_filtered['bath'].astype(int)
b_filtered['price']=b_filtered['price'].astype(int)

C:\Users\arjun\AppData\Local\Temp\ipykernel_16564\746165044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_filtered['size']=b_filtered['size'].astype(int)
C:\Users\arjun\AppData\Local\Temp\ipykernel_16564\746165044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_filtered['total_sqft']=b_filtered['total_sqft'].astype(int)
C:\Users\arjun\AppData\Local\Temp\ipykernel_16564\746165044.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_filtered['bath']=b_filtered['bath'].astype(int)
C:\Users\arjun\AppData\Local\Temp\ipykernel_16564\746165044.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_filtered['price']=b_filtered['price'].astype(int)

In [14]:
b_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121 entries, 29 to 13222
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    121 non-null    object
 1   size        121 non-null    int32
 2   total_sqft  121 non-null    int32
 3   bath        121 non-null    int32
 4   price       121 non-null    int32
dtypes: int32(4), object(1)
memory usage: 3.8+ KB

In [15]:
b_filtered

              location  size  total_sqft  bath  price
29     Electronic City     3        1025     2     47
113    Electronic City     3        1530     2     45
167    Electronic City     3        1500     2     64
173    Electronic City     3        1350     2     56
221        Koramangala     3        1475     2     90
...                ...   ...         ...   ...    ...
13009  Electronic City     3        1500     2     64
13040      Koramangala     3        1605     3    260
13043      Koramangala     3        1600     2    140
13129  Electronic City     4        2093     4    134
13222  Electronic City     3        1360     2     64

[121 rows x 5 columns]

In [16]:
X = b_filtered.iloc[:, :-1].values
y = b_filtered.iloc[:, -1].values

In [17]:
X

array([['Electronic City', 3, 1025, 2],
       ['Electronic City', 3, 1530, 2],
       ['Electronic City', 3, 1500, 2],
       ['Electronic City', 3, 1350, 2],
       ['Koramangala', 3, 1475, 2],
       ['Electronic City', 3, 1800, 3],
       ['Electronic City', 3, 1599, 3],
       ['Electronic City', 3, 1599, 3],
       ['Koramangala', 3, 1580, 3],
       ['Koramangala', 3, 1750, 3],
       ['Electronic City', 3, 1320, 2],
       ['Electronic City', 3, 1360, 2],
       ['Koramangala', 4, 3500, 5],
       ['Electronic City', 3, 1691, 2],
       ['Electronic City', 3, 1620, 3],
       ['Koramangala', 3, 2292, 4],
       ['Koramangala', 3, 1835, 2],
       ['Electronic City', 3, 1360, 2],
       ['Koramangala', 3, 1600, 3],
       ['Electronic City', 3, 1571, 3],
       ['Koramangala', 3, 2200, 3],
       ['Electronic City', 3, 1111, 3],
       ['Jayanagar', 3, 3095, 3],
       ['Electronic City', 3, 1374, 2],
       ['Electronic City', 3, 880, 2],
       ['Koramangala', 4, 2700, 4],
       ['Jayanagar', 3, 1875, 2],
       ['Electronic City', 3, 1220, 2],
       ['Electronic City', 3, 1563, 3],
       ['Electronic City', 3, 1652, 3],
       ['Koramangala', 3, 1975, 3],
       ['Koramangala', 3, 1750, 3],
       ['Electronic City', 3, 1350, 3],
       ['Koramangala', 3, 2292, 3],
       ['Electronic City', 3, 1700, 3],
       ['Electronic City', 3, 1400, 2],
       ['Electronic City', 3, 1360, 2],
       ['Electronic City', 3, 1571, 3],
       ['Electronic City', 3, 1600, 3],
       ['Electronic City', 3, 1500, 2],
       ['Electronic City', 3, 1440, 2],
       ['Electronic City', 3, 1156, 2],
       ['Electronic City', 3, 1400, 2],
       ['Koramangala', 3, 2300, 3],
       ['Electronic City', 3, 1225, 3],
       ['Koramangala', 3, 1594, 3],
       ['Koramangala', 3, 1760, 2],
       ['Koramangala', 4, 2503, 6],
       ['Koramangala', 3, 1900, 3],
       ['Electronic City', 3, 1105, 2],
       ['Electronic City', 3, 1500, 2],
       ['Electronic City', 3, 1575, 3],
       ['Electronic City', 3, 1449, 3],
       ['Electronic City', 3, 1310, 2],
       ['Koramangala', 4, 5985, 4],
       ['Koramangala', 4, 2461, 6],
       ['Electronic City', 3, 1575, 3],
       ['Electronic City', 3, 1500, 2],
       ['Koramangala', 3, 1615, 3],
       ['Koramangala', 3, 2246, 3],
       ['Electronic City', 3, 1410, 2],
       ['Electronic City', 3, 1650, 3],
       ['Electronic City', 3, 1449, 3],
       ['Electronic City', 3, 1500, 2],
       ['Electronic City', 3, 1033, 2],
       ['Electronic City', 4, 2435, 4],
       ['Electronic City', 3, 1500, 2],
       ['Koramangala', 3, 1716, 2],
       ['Koramangala', 3, 1500, 3],
       ['Electronic City', 4, 2093, 4],
       ['Koramangala', 3, 1744, 3],
       ['Electronic City', 3, 1500, 2],
       ['Koramangala', 3, 1890, 2],
       ['Electronic City', 3, 1631, 3],
       ['Electronic City', 3, 1500, 2],
       ['Electronic City', 3, 1159, 2],
       ['Electronic City', 3, 2400, 2],
       ['Electronic City', 3, 1571, 3],
       ['Electronic City', 3, 1470, 2],
       ['Electronic City', 3, 1350, 3],
       ['Electronic City', 3, 1652, 3],
       ['Electronic City', 3, 1320, 2],
       ['Electronic City', 3, 1050, 2],
       ['Electronic City', 3, 1609, 3],
       ['Koramangala', 3, 1720, 2],
       ['Koramangala', 3, 1900, 2],
       ['Koramangala', 3, 2223, 3],
       ['Koramangala', 3, 1744, 4],
       ['Electronic City', 3, 1160, 2],
       ['Koramangala', 3, 1866, 4],
       ['Koramangala', 3, 1745, 3],
       ['Electronic City', 3, 1360, 2],
       ['Electronic City', 3, 1360, 2],
       ['Koramangala', 3, 1642, 2],
       ['Electronic City', 3, 1400, 2],
       ['Jayanagar', 3, 2030, 2],
       ['Electronic City', 3, 1160, 2],
       ['Electronic City', 3, 1287, 3],
       ['Koramangala', 3, 1710, 3],
       ['Electronic City', 3, 1275, 3],
       ['Electronic City', 3, 1644, 3],
       ['Koramangala', 3, 1700, 3],
       ['Electronic City', 3, 1220, 2],
       ['Electronic City', 3, 1220, 2],
       ['Electronic City', 3, 1275, 3],
       ['Electronic City', 3, 1518, 3],
       ['Electronic City', 3, 1700, 3],
       ['Electronic City', 3, 1521, 2],
       ['Electronic City', 3, 1400, 2],
       ['Jayanagar', 3, 2240, 3],
       ['Electronic City', 3, 1615, 3],
       ['Electronic City', 3, 1320, 2],
       ['Koramangala', 3, 1600, 3],
       ['Electronic City', 3, 1575, 3],
       ['Koramangala', 3, 1910, 4],
       ['Electronic City', 3, 1500, 2],
       ['Electronic City', 3, 1500, 2],
       ['Koramangala', 3, 1605, 3],
       ['Koramangala', 3, 1600, 2],
       ['Electronic City', 4, 2093, 4],
       ['Electronic City', 3, 1360, 2]], dtype=object)

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')
X=np.array(ct.fit_transform(X))

In [19]:
X

array([[1.0, 0.0, 0.0, 3, 1025, 2],
       [1.0, 0.0, 0.0, 3, 1530, 2],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [1.0, 0.0, 0.0, 3, 1350, 2],
       [0.0, 0.0, 1.0, 3, 1475, 2],
       [1.0, 0.0, 0.0, 3, 1800, 3],
       [1.0, 0.0, 0.0, 3, 1599, 3],
       [1.0, 0.0, 0.0, 3, 1599, 3],
       [0.0, 0.0, 1.0, 3, 1580, 3],
       [0.0, 0.0, 1.0, 3, 1750, 3],
       [1.0, 0.0, 0.0, 3, 1320, 2],
       [1.0, 0.0, 0.0, 3, 1360, 2],
       [0.0, 0.0, 1.0, 4, 3500, 5],
       [1.0, 0.0, 0.0, 3, 1691, 2],
       [1.0, 0.0, 0.0, 3, 1620, 3],
       [0.0, 0.0, 1.0, 3, 2292, 4],
       [0.0, 0.0, 1.0, 3, 1835, 2],
       [1.0, 0.0, 0.0, 3, 1360, 2],
       [0.0, 0.0, 1.0, 3, 1600, 3],
       [1.0, 0.0, 0.0, 3, 1571, 3],
       [0.0, 0.0, 1.0, 3, 2200, 3],
       [1.0, 0.0, 0.0, 3, 1111, 3],
       [0.0, 1.0, 0.0, 3, 3095, 3],
       [1.0, 0.0, 0.0, 3, 1374, 2],
       [1.0, 0.0, 0.0, 3, 880, 2],
       [0.0, 0.0, 1.0, 4, 2700, 4],
       [0.0, 1.0, 0.0, 3, 1875, 2],
       [1.0, 0.0, 0.0, 3, 1220, 2],
       [1.0, 0.0, 0.0, 3, 1563, 3],
       [1.0, 0.0, 0.0, 3, 1652, 3],
       [0.0, 0.0, 1.0, 3, 1975, 3],
       [0.0, 0.0, 1.0, 3, 1750, 3],
       [1.0, 0.0, 0.0, 3, 1350, 3],
       [0.0, 0.0, 1.0, 3, 2292, 3],
       [1.0, 0.0, 0.0, 3, 1700, 3],
       [1.0, 0.0, 0.0, 3, 1400, 2],
       [1.0, 0.0, 0.0, 3, 1360, 2],
       [1.0, 0.0, 0.0, 3, 1571, 3],
       [1.0, 0.0, 0.0, 3, 1600, 3],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [1.0, 0.0, 0.0, 3, 1440, 2],
       [1.0, 0.0, 0.0, 3, 1156, 2],
       [1.0, 0.0, 0.0, 3, 1400, 2],
       [0.0, 0.0, 1.0, 3, 2300, 3],
       [1.0, 0.0, 0.0, 3, 1225, 3],
       [0.0, 0.0, 1.0, 3, 1594, 3],
       [0.0, 0.0, 1.0, 3, 1760, 2],
       [0.0, 0.0, 1.0, 4, 2503, 6],
       [0.0, 0.0, 1.0, 3, 1900, 3],
       [1.0, 0.0, 0.0, 3, 1105, 2],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [1.0, 0.0, 0.0, 3, 1575, 3],
       [1.0, 0.0, 0.0, 3, 1449, 3],
       [1.0, 0.0, 0.0, 3, 1310, 2],
       [0.0, 0.0, 1.0, 4, 5985, 4],
       [0.0, 0.0, 1.0, 4, 2461, 6],
       [1.0, 0.0, 0.0, 3, 1575, 3],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [0.0, 0.0, 1.0, 3, 1615, 3],
       [0.0, 0.0, 1.0, 3, 2246, 3],
       [1.0, 0.0, 0.0, 3, 1410, 2],
       [1.0, 0.0, 0.0, 3, 1650, 3],
       [1.0, 0.0, 0.0, 3, 1449, 3],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [1.0, 0.0, 0.0, 3, 1033, 2],
       [1.0, 0.0, 0.0, 4, 2435, 4],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [0.0, 0.0, 1.0, 3, 1716, 2],
       [0.0, 0.0, 1.0, 3, 1500, 3],
       [1.0, 0.0, 0.0, 4, 2093, 4],
       [0.0, 0.0, 1.0, 3, 1744, 3],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [0.0, 0.0, 1.0, 3, 1890, 2],
       [1.0, 0.0, 0.0, 3, 1631, 3],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [1.0, 0.0, 0.0, 3, 1159, 2],
       [1.0, 0.0, 0.0, 3, 2400, 2],
       [1.0, 0.0, 0.0, 3, 1571, 3],
       [1.0, 0.0, 0.0, 3, 1470, 2],
       [1.0, 0.0, 0.0, 3, 1350, 3],
       [1.0, 0.0, 0.0, 3, 1652, 3],
       [1.0, 0.0, 0.0, 3, 1320, 2],
       [1.0, 0.0, 0.0, 3, 1050, 2],
       [1.0, 0.0, 0.0, 3, 1609, 3],
       [0.0, 0.0, 1.0, 3, 1720, 2],
       [0.0, 0.0, 1.0, 3, 1900, 2],
       [0.0, 0.0, 1.0, 3, 2223, 3],
       [0.0, 0.0, 1.0, 3, 1744, 4],
       [1.0, 0.0, 0.0, 3, 1160, 2],
       [0.0, 0.0, 1.0, 3, 1866, 4],
       [0.0, 0.0, 1.0, 3, 1745, 3],
       [1.0, 0.0, 0.0, 3, 1360, 2],
       [1.0, 0.0, 0.0, 3, 1360, 2],
       [0.0, 0.0, 1.0, 3, 1642, 2],
       [1.0, 0.0, 0.0, 3, 1400, 2],
       [0.0, 1.0, 0.0, 3, 2030, 2],
       [1.0, 0.0, 0.0, 3, 1160, 2],
       [1.0, 0.0, 0.0, 3, 1287, 3],
       [0.0, 0.0, 1.0, 3, 1710, 3],
       [1.0, 0.0, 0.0, 3, 1275, 3],
       [1.0, 0.0, 0.0, 3, 1644, 3],
       [0.0, 0.0, 1.0, 3, 1700, 3],
       [1.0, 0.0, 0.0, 3, 1220, 2],
       [1.0, 0.0, 0.0, 3, 1220, 2],
       [1.0, 0.0, 0.0, 3, 1275, 3],
       [1.0, 0.0, 0.0, 3, 1518, 3],
       [1.0, 0.0, 0.0, 3, 1700, 3],
       [1.0, 0.0, 0.0, 3, 1521, 2],
       [1.0, 0.0, 0.0, 3, 1400, 2],
       [0.0, 1.0, 0.0, 3, 2240, 3],
       [1.0, 0.0, 0.0, 3, 1615, 3],
       [1.0, 0.0, 0.0, 3, 1320, 2],
       [0.0, 0.0, 1.0, 3, 1600, 3],
       [1.0, 0.0, 0.0, 3, 1575, 3],
       [0.0, 0.0, 1.0, 3, 1910, 4],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [1.0, 0.0, 0.0, 3, 1500, 2],
       [0.0, 0.0, 1.0, 3, 1605, 3],
       [0.0, 0.0, 1.0, 3, 1600, 2],
       [1.0, 0.0, 0.0, 4, 2093, 4],
       [1.0, 0.0, 0.0, 3, 1360, 2]], dtype=object)

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=1)

In [34]:
from sklearn.linear_model import LinearRegression
mr=LinearRegression()
mr.fit(X_train,y_train)

LinearRegression()

In [36]:
y_pred=mr.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_pred),1)),1))

[[ 28.46  42.  ]
 [598.9  775.  ]
 [226.61 300.  ]
 [142.01 140.  ]
 [ 92.99  83.  ]
 [155.67 115.  ]
 [184.26 130.  ]
 [ 19.07  39.  ]
 [197.07 150.  ]
 [ 67.72  70.  ]
 [180.85 210.  ]
 [ 99.22  92.  ]
 [ 57.48  64.  ]
 [ 28.46  42.  ]
 [227.37 150.  ]
 [ 93.33 101.  ]
 [190.65 134.  ]
 [ 67.72  63.  ]
 [151.92 115.  ]
 [ 82.57  90.  ]
 [ 93.33  94.  ]
 [ 45.53  75.  ]
 [ 33.58  35.  ]
 [275.66 300.  ]
 [ 98.11  80.  ]
 [ 68.74  55.  ]
 [ 48.95  48.  ]
 [ 63.45  45.  ]
 [145.6  115.  ]
 [ 57.48  70.  ]
 [230.53 286.  ]
 [ 48.95  40.  ]
 [172.74 115.  ]
 [ 57.48  78.  ]
 [ 42.12  38.  ]
 [ 41.26  37.  ]
 [ 74.12  58.  ]
 [ 99.9  110.  ]
 [ 95.47 104.  ]
 [ 92.99  89.  ]
 [ 45.53  64.  ]
 [ 33.58  35.  ]
 [ 45.53  70.  ]
 [171.46 170.  ]
 [ 57.48 100.  ]
 [190.65 104.  ]
 [183.84  98.  ]
 [ 45.53  58.  ]
 [ 52.36  55.  ]]